<nav mat-tab-nav-bar mat-stretch-tabs>
    <a mat-tab-link routerLink="list" routerLinkActive #lst="routerLinkActive" [active]="lst.isActive"><fa-icon [icon]="['fas', 'dumbbell']"></fa-icon><span>Plans Templates</span></a>
    <a mat-tab-link routerLink="excersizes" routerLinkActive #elist="routerLinkActive" [active]="elist.isActive"><fa-icon [icon]="['fas', 'swimmer']"></fa-icon><span>Excersizes Templates</span></a>
</nav>
<div id="content">
    <router-outlet></router-outlet>
</div>