/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
#container {
  height: calc( 100vh - 64px ); }

#users {
  border-right: 1px solid #DBDDE0;
  padding-top: 15px; }

#messages {
  padding-top: 15px; }

/*# sourceMappingURL=messages-dashboard.component.css.map */
