<div class="container-fluid">
    <div class="row" id="container">
        <div class="col-sm-12 col-md-4" id="users">
            <button mat-raised-button color="primary" class="full-width" routerLink="./">Create message</button>
            <hr/>
            <app-conversations-list></app-conversations-list>
        </div>
        <div class="col-sm-12 col-md-8" id="messages">
            <router-outlet style="position: relative"></router-outlet>
        </div>
    </div>
</div>