@import '../../../variables';

#container{
    height: calc( 100vh - 64px );
}

#users{
    border-right: 1px solid #DBDDE0;
    padding-top: $default-margin;
}

#messages{
    padding-top: $default-margin;
}