/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
.mat-tab-nav-bar {
  /*    background-color: $bgcolor-1-b;*/ }
  .mat-tab-nav-bar fa-icon {
    margin-right: 15px;
    font-size: 20px; }

/*# sourceMappingURL=clients-dashboard.component.css.map */
