<nav mat-tab-nav-bar mat-stretch-tabs>
    <a mat-tab-link routerLink="list" routerLinkActive #lst="routerLinkActive" [active]="lst.isActive"><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon> List</a>
    <a mat-tab-link routerLink="invitations" routerLinkActive #inv="routerLinkActive" [active]="inv.isActive"><fa-icon [icon]="['fas', 'user-plus']"></fa-icon> Invitations</a>
</nav>
<div id="content">
    <router-outlet></router-outlet>
</div>