<form [formGroup]="loginForm">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>                
            <input matInput formControlName="email" placeholder="Email">
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error align="end">
            <span *ngIf="loginForm.hasError('required', ['email'])">
                Email is required
            </span>
            <span *ngIf="loginForm.hasError('email', ['email'])">
                Invalid email
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>                
            <input type="password" matInput formControlName="password" placeholder="Password">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error align="end">
            <span *ngIf="loginForm.hasError( 'required', ['password'] )">
                Password is required
            </span>
        </mat-error>
    </mat-form-field>
    <div class="row">
        <div class="col-12 text-right">
            <div *ngIf="!inProgress">
                <mat-slide-toggle color="primary" formControlName="remember_me">
                    Remember Me
                </mat-slide-toggle>
               <button mat-raised-button color="primary" (click)="loginForm.valid ? login() : null">Login</button>
            </div>
            <div *ngIf="inProgress">
                <mat-progress-spinner
                    class="pull-right"
                    color="primary"
                    diameter="35"
                    mode="indeterminate"
                    value="50">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
</form>