/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
mat-form-field {
  width: 100%; }

button {
  margin-left: 15px; }

/*# sourceMappingURL=user-login.component.css.map */
