<nav mat-tab-nav-bar mat-stretch-tabs>
    <a mat-tab-link routerLink="list" routerLinkActive #lst="routerLinkActive" [active]="lst.isActive"><fa-icon [icon]="['fas', 'utensils']"></fa-icon><span>Plans</span></a>
    <a mat-tab-link routerLink="meals" routerLinkActive #meals="routerLinkActive" [active]="meals.isActive"><fa-icon [icon]="['fas', 'cookie-bite']"></fa-icon><span>Meals</span></a>
    <a mat-tab-link routerLink="products" routerLinkActive #prod="routerLinkActive" [active]="prod.isActive"><fa-icon [icon]="['fas', 'lemon']"></fa-icon><span>Products</span></a>
</nav>
<div id="content">
    <router-outlet></router-outlet>
</div>