<mat-card>
    <form [formGroup]="form" *ngIf="formReady">
        
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Name</mat-label>                
            <input matInput formControlName="name" placeholder="Name">
            <mat-error align="end">
                <span *ngIf="form.hasError('required', ['name'])">
                    Name is required
                </span>
                <span *ngIf="form.hasError('minlength', ['name'])">
                    Minimum lenght is {{form.getError('minlength', 'name').requiredLength}}
                </span>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>                
            <textarea matInput formControlName="desc" placeholder="Description" rows="5"></textarea>
            <mat-error align="end"></mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Helpful Links (one per line)</mat-label>                
            <textarea matInput formControlName="h_links" placeholder="Helpful Links" rows="5"></textarea>
            <mat-error align="end"></mat-error>
        </mat-form-field>
        
        <div class="row">
            <div class="col-12 text-right">
                <div *ngIf="!inProgress">
                    <button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
                    <button mat-raised-button color="primary" (click)="form.valid ? submit() : null">{{mode == 'create' ? 'Create' : 'Update'}}</button>
                </div>
                <div *ngIf="inProgress">
                    <mat-progress-spinner
                        class="pull-right"
                        color="primary"
                        diameter="35"
                        mode="indeterminate"
                        value="50">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>
    </form>
    <mat-progress-bar *ngIf="!formReady" mode="query" color="accent"></mat-progress-bar>
</mat-card>