/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
mat-card {
  padding: 15px; }

button {
  margin-left: 15px; }

/*# sourceMappingURL=excersize-form.component.css.map */
