<form [formGroup]="signupForm">       
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>First Name</mat-label>                
            <input matInput formControlName="first_name" placeholder="First Name">
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error align="end">
            <span *ngIf="signupForm.hasError( 'required', ['first_name'] )">
                First Name is required
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Last Name</mat-label>                
            <input matInput formControlName="last_name" placeholder="Last Name">
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error align="end">
            <span *ngIf="signupForm.hasError( 'required', ['last_name'] )">
                Last Name is required
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill" *ngIf="!invitation">
        <mat-label>Email</mat-label>                
            <input matInput formControlName="email" placeholder="Email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error align="end">
            <span *ngIf="signupForm.hasError( 'required', ['email'] )">
                Email is required
            </span>
            <span *ngIf="signupForm.hasError( 'email', ['email'] )">
                Incorrect email
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
            <input type="password" formControlName="password" (change)="passwordsMatch()" matInput placeholder="Password">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error align="end">
            <span *ngIf="signupForm.hasError( 'required', ['password'] )">
                Password is required
            </span>
            <span *ngIf="signupForm.hasError( 'minlength', ['password'] )">
                Minimum lenght is {{signupForm.getError( 'minlength', 'password').requiredLength}}
            </span>
        </mat-error>
    </mat-form-field> 
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password (once again)</mat-label>
            <input type="password" matInput formControlName="password_repeat" (change)="passwordsMatch()" placeholder="Password (once again)">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error align="end">
            <span *ngIf="signupForm.hasError( 'passwordsmismatch', ['password_repeat'] )">
                Passwords don't match
            </span>
        </mat-error>
    </mat-form-field>
    <div class="row">
        <div class="col-12 text-right">
            <div *ngIf="!inProgress">
               <button mat-raised-button color="primary" (click)="signupForm.valid ? signup() : null">Signup</button>
            </div>
            <div *ngIf="inProgress">
                <mat-progress-spinner
                    class="pull-right"
                    color="primary"
                    diameter="35"
                    mode="indeterminate"
                    value="50">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
</form>
