@import '../../../../variables';

.mat-tab-nav-bar{
    fa-icon{
        margin-right: $default-margin;
        font-size: $fa-md-size;
    } 
    
    span{
        @media screen and (max-width: $bs-md-width + 'px'){
            display: none;
        }
        padding-left: $default-margin;
    }
    
}

#content{
    padding: $default-margin;
}