<nav mat-tab-nav-bar mat-stretch-tabs>
    <a mat-tab-link routerLink="overview" routerLinkActive #ovrvw="routerLinkActive" [active]="ovrvw.isActive"><fa-icon [icon]="['fas', 'eye']"></fa-icon><span>Overview</span></a>
    <a mat-tab-link routerLink="training-plans" routerLinkActive #trnplns="routerLinkActive" [active]="trnplns.isActive"><fa-icon [icon]="['fas', 'dumbbell']"></fa-icon><span>Trainging Plans</span></a>
    <a mat-tab-link routerLink="nutrition-plans" routerLinkActive #nplns="routerLinkActive" [active]="nplns.isActive"><fa-icon [icon]="['fas', 'utensils']"></fa-icon><span>Nutrition Plans</span></a>
    <a mat-tab-link routerLink="measurement-log" routerLinkActive #msrlg="routerLinkActive" [active]="msrlg.isActive"><fa-icon [icon]="['fas', 'weight']"></fa-icon><span>Measurement log</span></a>
    <a mat-tab-link routerLink="wellbeing" routerLinkActive #wllbng="routerLinkActive" [active]="wllbng.isActive"><fa-icon [icon]="['fas', 'smile-beam']"></fa-icon><span>Wellbeing</span></a>
</nav>
<div id="content">
    <router-outlet></router-outlet>
</div>