/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
.mat-tab-nav-bar fa-icon {
  margin-right: 15px;
  font-size: 20px; }
.mat-tab-nav-bar span {
  padding-left: 15px; }
  @media screen and (max-width: 992px) {
    .mat-tab-nav-bar span {
      display: none; } }

#content {
  padding: 15px; }

/*# sourceMappingURL=client-dashboard.component.css.map */
