<button id="notifications-trigger" mat-button [matMenuTriggerFor]="notifications">
    <mat-icon matBadge="2" matBadgeColor="accent">notifications_active</mat-icon>
</button>
<mat-menu #notifications="matMenu">
    <div mat-menu-item>Notification number 1</div>
    <div mat-menu-item>Notification number 2</div>
    <div mat-menu-item>Notification number 3</div>
    <div mat-menu-item>Notification number 4</div>
    <div mat-menu-item>Notification number 5</div>
</mat-menu>