ul {
  padding-left: 0px;
  list-style-type: none; }
  ul li {
    padding: 20px 10px;
    cursor: pointer; }
    ul li:nth-child(even), ul li:hover {
      background-color: #f4f4f4; }
    ul li:focus {
      outline: none; }
    ul li.new {
      font-weight: bold; }
    ul li .user {
      font-size: 18px; }
    ul li .date {
      color: rgba(0, 0, 0, 0.5); }
    ul li .message {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=conversations-list.component.css.map */
