ul {
    padding-left: 0px;
    list-style-type: none;
    
    li {
        padding: 20px 10px;
        cursor: pointer;
        
        &:nth-child(even), &:hover {
            background-color: rgb(244, 244, 244);
        }
        
        &:focus {
            outline: none;
        }
        
        &.new {
            font-weight: bold;
        }
        
        .user {
            font-size: 18px;
        }
        
        .date {
            color: rgba(0,0,0, .5);
        }
        
        .message {
            width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
            color: rgba(0,0,0, .5);
        }
    }
}