<mat-progress-bar *ngIf="!conversations" mode="query" color="accent"></mat-progress-bar>
<ul *ngIf="conversations">
    <li *ngFor="let conversation of conversations" [className]="isNewMessage(conversation) && !seenIds.includes(conversation.conversation_id) ? 'new' : ''" routerLink="./conversation/{{conversation.conversation_id}}" (click)="seenIds.push(conversation.conversation_id)">
        <div class="row">
            <div class="col-auto user">{{isOwnMessage(conversation) ? conversation.to_name : conversation.from_name}}</div>
            <div class="col text-right date">{{(conversation.time*1000) | date : 'd MMM HH:mm'}}</div>
        </div>
        <div class="message">
            {{conversation.content | slice:0:200}}
        </div>
    </li>
</ul>
<div *ngIf="conversations && !conversations.length">
    There's no conversations.
</div>
