<div class="container">
    <div class="row not-found">
        <div class="col-12 text-center">
            <h1>404 - Page Not Found</h1><br/>
            <button routerLink="/" mat-raised-button color="primary">Back to homepage</button>
        </div>
    </div>
</div>