<form [formGroup]="messageForm">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Message</mat-label>                
                <textarea matInput formControlName="message" placeholder="Message" rows="1"></textarea>
                <mat-error align="end">
                    <span *ngIf="messageForm.hasError('required', ['message'])">
                        Message is required
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-auto">
            <button mat-raised-button color="primary" class="full-width" (click)="reply()" routerLink="./">Send</button>
        </div>
    </div>    
</form>