@import '../../../variables';

mat-card{
    padding: $default-margin;
    
    &.no-excersizes{
        margin-bottom: $default-margin;
    }
}

mat-expansion-panel{        
    &.no-groups{
/*        background-color: $bgcolor-1-c;*/
        margin-top: $default-margin;
        font-size: 16pt;
    }
    
    &.group{
/*        background-color: $bgcolor-1-c;*/
        margin-bottom: $default-margin / 2;
        
        &:first-child{
            margin-top: $default-margin;
        }
        
        mat-expansion-panel-header{
            mat-panel-title{
                font-size: 16pt;
                
                fa-icon{
                    font-size: 1.5rem !important;
                }
            }
            
            mat-panel-description{     
                &.mat-expansion-panel-header-description{
                    display: block !important;
                    text-align: right;
                }
                
                .action-buttons{   
                    margin-right: $default-margin;
                    float: right;
                    
                    fa-icon{
                        font-size: 1.125rem !important;
                        margin-left: $default-margin;
                    }
                }
            }
        }
        
        &:nth-child(even){
/*            background-color: $bgcolor-1-d;*/
        }
    }  
    
    &.excersize{
/*        background-color: $bgcolor-1-b;*/
        margin-bottom: $default-margin / 2;
        
        mat-expansion-panel-header{
            mat-panel-title{
                font-size: 13pt;
            }
            
            mat-panel-description{     
                &.mat-expansion-panel-header-description{
                    display: block !important;
                    text-align: right;
                }
                
                .action-buttons{   
                    margin-rigt: $default-margin;
                    float: right;
                    
                    fa-icon{
                        font-size: 13pt;
                        margin-left: $default-margin;
                    }
                    
                    .export-excersize-spinner{
                        display: inline-block;
                        margin-left: $default-margin;
                    }
                }
            }
            
        }
        
        &:nth-child(even){
/*            background-color: $bgcolor-1-a;*/
        }
        
    }  
        
    &.group-form{
/*        background-color: $bgcolor-1-c;*/
        margin-top: $default-margin;
        margin-bottom: $default-margin;        
            
        mat-expansion-panel-header{
            mat-panel-title{
                font-size: 18pt;
                
                fa-icon{
                    font-size: 1.5rem !important;
                }
            }
        }
    }
    
    &.excersize-form{
        margin-top: $default-margin;
        margin-bottom: $default-margin;  
        
        hr{
            margin-top: 0px;
        }
    }
    
}

button{
    margin-left: $default-margin;
    min-width: 50px;
}

.main-buttons{
    margin-bottom: 50px;
}