<form [formGroup]="form" *ngIf="formReady">  
    <mat-card>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Name</mat-label>                
                <input matInput formControlName="name" placeholder="Name">
                <mat-error align="end">
                    <span *ngIf="form.hasError('required', ['name'])">
                        Name is required
                    </span>
                    <span *ngIf="form.hasError('minlength', ['name'])">
                        Minimum lenght is {{form.getError('minlength', 'name').requiredLength}}
                    </span>
                </mat-error>
            </mat-form-field> 

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Description</mat-label>                
                <textarea matInput formControlName="desc" placeholder="Description" rows="5"></textarea>
                <mat-error align="end"></mat-error>
            </mat-form-field>

    </mat-card>


    <!-- Groups Loop BEGIN -->
    <div *ngIf="plan.groups.length > 0" dragula="GROUPS" [(dragulaModel)]="plan.groups">
        <mat-expansion-panel *ngFor="let group of plan.groups; let gi = index" class="group" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="handle">
                        <fa-icon [icon]="['fas', 'folder-open']" class="handle"></fa-icon>&nbsp;&nbsp; {{group.name}}
                    </div>
                </mat-panel-title>
                <mat-panel-description>
                    <div class="action-buttons" #groupHtmlHanlder>
                    <fa-icon [icon]="['fas', 'edit']" (click)="$event.stopPropagation(); scrollTo(gform); setUpdatingGroup(gi, group, groupHtmlHanlder);"></fa-icon>
                    <fa-icon [icon]="['fas', 'trash']" (click)="$event.stopPropagation(); deleteGroup(group)"></fa-icon>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{group.desc}}</p>
            <mat-card class="no-excersizes" *ngIf="!group.excersizes.length">There's no excersizes.</mat-card>

            <mat-accordion *ngIf="group.excersizes && group.excersizes.length > 0" dragula="EXCERSIZES_{{gi}}" [(dragulaModel)]="group.excersizes">
                <!-- Excersizes loop BEGIN -->
                <mat-expansion-panel *ngFor="let excersize of group.excersizes; let ei = index" class="excersize">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <fa-icon [icon]="['fas', 'file']"></fa-icon>&nbsp;&nbsp; {{excersize.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{excersize.weight ? ' Weight:' + excersize.weight : ''}}
                            {{excersize.sets ? ' Sets:' + excersize.sets : ''}}
                            {{excersize.reps ? ' Reps:' + excersize.reps : ''}}
                            {{excersize.rest ? ' Rest:' + excersize.rest : ''}}
                            {{excersize.tempo ? ' Tempo:' + excersize.tempo : ''}}
                            {{excersize.duration ? ' Duration:' + excersize.duration : ''}}                        
                            
                            <div class="action-buttons" #excersizeHtmlHanlder> 
                                <fa-icon matTooltip="Export as template" *ngIf="exportedExcersize != excersize.name && !excersizeTemplateIsExported(excersize)" [icon]="['fas', 'cloud-upload']" (click)="$event.stopPropagation(); exportExcersizeTemplate(excersize, gi, ei);"></fa-icon>
                                <mat-progress-spinner class="export-excersize-spinner" *ngIf="exportedExcersize === excersize.name"
                                    color="primary"
                                    diameter="20"
                                    mode="indeterminate"
                                    value="50">
                                </mat-progress-spinner>
                                
                                <fa-icon matTooltip="Edit" [icon]="['fas', 'edit']" (click)="$event.stopPropagation(); scrollTo(exform); setUpdatingExcersize(ei, gi, excersize, excersizeHtmlHanlder); exformpan.open()"></fa-icon>
                                <fa-icon matTooltip="Delete" [icon]="['fas', 'trash']" (click)="$event.stopPropagation(); deleteExcersize(excersize, gi)"></fa-icon>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- Excersize description BEGIN -->                
                    <p>{{excersize.desc}}</p>                    
                    <div *ngIf="excersize.h_links">
                        <h5>Helpful links:</h5>
                        <div *ngFor="let link of splitHelpfulLinks(excersize.h_links)">
                            <a href="{{link}}">{{link}}</a><br>
                        </div>
                    </div>
                    <!-- Excersize description END -->
                </mat-expansion-panel>
                <!-- Excersizes loop END -->
            </mat-accordion>

            <mat-expansion-panel class="excersize-form" [expanded]="false" #exformpan>
                <mat-expansion-panel-header>
                    <mat-panel-title><fa-icon [icon]="['fas', 'file-plus']"></fa-icon>&nbsp;&nbsp; {{!updatingExcersize[gi] ? 'Add New Excersize' : 'Update Excersize'}}</mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field class="full-width" >
                    <fa-icon [icon]="['fas', 'search']" matPrefix></fa-icon>
                    <mat-label>Select from templates (or fill in manually)</mat-label>
                    <input type="text" placeholder="Select template" matInput [formControl]="filteredExcersizesControl" [matAutocomplete]="autoExcersize">
                    <mat-autocomplete #autoExcersize="matAutocomplete">
                        <mat-option *ngFor="let excersize of filteredExcersizesTemplates | async" [value]="excersize.name" (onSelectionChange)="setExcersizeDataFromTemplate($event, excersize, excersizeForms[gi])">
                          {{excersize.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <hr/>

                <form [formGroup]="excersizeForms[gi]" #exform>            
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Name* </mat-label>                
                        <input matInput formControlName="name" placeholder="Name">
                        <mat-error align="end">
                            <span *ngIf="excersizeForms[gi].hasError('required', ['name'])">
                                Name is required
                            </span>
                            <span *ngIf="excersizeForms[gi].hasError('minlength', ['name'])">
                                Minimum lenght is {{excersizeForms[gi].getError('minlength', 'name').requiredLength}}
                            </span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Description</mat-label>                
                        <textarea matInput formControlName="desc" placeholder="Description" rows="5"></textarea>
                        <mat-error align="end"></mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Weight</mat-label>                
                                <input matInput formControlName="weight" placeholder="Weight">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Sets</mat-label>                
                                <input matInput formControlName="sets" placeholder="Sets">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Reps</mat-label>                
                                <input matInput formControlName="reps" placeholder="Reps">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Rest</mat-label>                
                                <input matInput formControlName="rest" placeholder="Rest">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Tempo</mat-label>                
                                <input matInput formControlName="tempo" placeholder="Tempo">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Duration</mat-label>                
                                <input matInput formControlName="duration" placeholder="Duration">
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Helpful links</mat-label>                
                        <textarea matInput formControlName="h_links" placeholder="Helpful links (one per line)" rows="5"></textarea>
                        <mat-error align="end"></mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-12 text-right">
                            <button mat-raised-button color="warn" (click)="excersizeFormCancel(gi)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>

                            <button *ngIf="!updatingExcersize[gi]" mat-raised-button color="primary" (click)="addExcersize(group, excersizeForms[gi].value)">
                                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            </button>

                            <button *ngIf="updatingExcersize[gi]" mat-raised-button color="primary" (click)="updateExcersize(excersizeForms[gi].value, gi)">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon>
                            </button>
                        </div>
                    </div>
                </form>   

            </mat-expansion-panel>
        </mat-expansion-panel>
    </div>
    
    <!-- Groups Loop END -->

    <mat-expansion-panel class="no-groups" *ngIf="plan.groups.length == 0">
        <mat-expansion-panel-header>
            <mat-panel-title>There's no groups.</mat-panel-title>
        </mat-expansion-panel-header>
        Please use the form below.
    </mat-expansion-panel>

    <mat-expansion-panel class="group-form" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title><fa-icon [icon]="['fas', 'folder-plus']"></fa-icon>&nbsp; {{!updatingGroup ? 'Create New Group' : 'Update Group'}}</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="groupForm" #gform>            
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Name</mat-label>                
                <input matInput formControlName="name" placeholder="Monday, Day 1, Pull Day etc.">
                <mat-error align="end">
                    <span *ngIf="groupForm.hasError('required', ['name'])">
                        Name is required
                    </span>
                    <span *ngIf="groupForm.hasError('minlength', ['name'])">
                        Minimum lenght is {{groupForm.getError('minlength', 'name').requiredLength}}
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Description</mat-label>                
                <textarea matInput formControlName="desc" placeholder="Description" rows="5"></textarea>
                <mat-error align="end"></mat-error>
            </mat-form-field>

            <div class="row">
                <div class="col-12 text-right">
                    <button mat-raised-button color="warn" (click)="groupFormCancel()"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
                    <button mat-raised-button color="primary" 
                            (click)="!updatingGroup ? addGroup(groupForm.value) : updateGroup(groupForm.value)">
                        <fa-icon *ngIf="!updatingGroup" [icon]="['fas', 'plus']"></fa-icon>
                        <fa-icon *ngIf="updatingGroup" [icon]="['fas', 'save']"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
    </mat-expansion-panel>


    <div class="row main-buttons">
        <div class="col-12 text-right">
            <div *ngIf="!inProgress">
                <button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
                <button mat-raised-button color="primary" (click)="submit()">Save Plan!</button>
            </div>
            <div *ngIf="inProgress">
                <mat-progress-spinner
                    class="pull-right"
                    color="primary"
                    diameter="35"
                    mode="indeterminate"
                    value="50">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
    
</form>
<mat-card *ngIf="!formReady">
    <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</mat-card>