/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
mat-card {
  padding: 15px; }
  mat-card.no-excersizes {
    margin-bottom: 15px; }

mat-expansion-panel.no-groups {
  /*        background-color: $bgcolor-1-c;*/
  margin-top: 15px;
  font-size: 16pt; }
mat-expansion-panel.group {
  /*        background-color: $bgcolor-1-c;*/
  margin-bottom: 7.5px; }
  mat-expansion-panel.group:first-child {
    margin-top: 15px; }
  mat-expansion-panel.group mat-expansion-panel-header mat-panel-title {
    font-size: 16pt; }
    mat-expansion-panel.group mat-expansion-panel-header mat-panel-title fa-icon {
      font-size: 1.5rem !important; }
  mat-expansion-panel.group mat-expansion-panel-header mat-panel-description.mat-expansion-panel-header-description {
    display: block !important;
    text-align: right; }
  mat-expansion-panel.group mat-expansion-panel-header mat-panel-description .action-buttons {
    margin-right: 15px;
    float: right; }
    mat-expansion-panel.group mat-expansion-panel-header mat-panel-description .action-buttons fa-icon {
      font-size: 1.125rem !important;
      margin-left: 15px; }
  mat-expansion-panel.group:nth-child(even) {
    /*            background-color: $bgcolor-1-d;*/ }
mat-expansion-panel.excersize {
  /*        background-color: $bgcolor-1-b;*/
  margin-bottom: 7.5px; }
  mat-expansion-panel.excersize mat-expansion-panel-header mat-panel-title {
    font-size: 13pt; }
  mat-expansion-panel.excersize mat-expansion-panel-header mat-panel-description.mat-expansion-panel-header-description {
    display: block !important;
    text-align: right; }
  mat-expansion-panel.excersize mat-expansion-panel-header mat-panel-description .action-buttons {
    margin-rigt: 15px;
    float: right; }
    mat-expansion-panel.excersize mat-expansion-panel-header mat-panel-description .action-buttons fa-icon {
      font-size: 13pt;
      margin-left: 15px; }
    mat-expansion-panel.excersize mat-expansion-panel-header mat-panel-description .action-buttons .export-excersize-spinner {
      display: inline-block;
      margin-left: 15px; }
  mat-expansion-panel.excersize:nth-child(even) {
    /*            background-color: $bgcolor-1-a;*/ }
mat-expansion-panel.group-form {
  /*        background-color: $bgcolor-1-c;*/
  margin-top: 15px;
  margin-bottom: 15px; }
  mat-expansion-panel.group-form mat-expansion-panel-header mat-panel-title {
    font-size: 18pt; }
    mat-expansion-panel.group-form mat-expansion-panel-header mat-panel-title fa-icon {
      font-size: 1.5rem !important; }
mat-expansion-panel.excersize-form {
  margin-top: 15px;
  margin-bottom: 15px; }
  mat-expansion-panel.excersize-form hr {
    margin-top: 0px; }

button {
  margin-left: 15px;
  min-width: 50px; }

.main-buttons {
  margin-bottom: 50px; }

/*# sourceMappingURL=plan-form.component.css.map */
