@import '../../../variables';

mat-card{
    padding: 0;

    @media screen and (min-width: $bs-sm-width + 'px'){
        margin-top: 100px;
    }
    
    mat-card-content{
        padding: $default-margin;
    }
}