<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1">
            <mat-card>
                <nav mat-tab-nav-bar mat-stretch-tabs>
                    <a mat-tab-link routerLink="/user/guest/login" routerLinkActive #lgn="routerLinkActive" [active]="lgn.isActive">Login</a>
                    <a mat-tab-link routerLink="/user/guest/signup" routerLinkActive #sgp="routerLinkActive" [active]="sgp.isActive">Signup</a>
                </nav>
                <mat-card-content>
                    <router-outlet></router-outlet>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>