/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
mat-card {
  padding: 0; }
  @media screen and (min-width: 768px) {
    mat-card {
      margin-top: 100px; } }
  mat-card mat-card-content {
    padding: 15px; }

/*# sourceMappingURL=user-guest-screen.component.css.map */
