$bgcolor-1-a: #205cb6;
$bgcolor-1-b: lighten($bgcolor-1-a, 5%);
$bgcolor-1-c: lighten($bgcolor-1-a, 10%);
$bgcolor-1-d: lighten($bgcolor-1-a, 15%);
$bgcolor-1-e: lighten($bgcolor-1-a, 20%);
$bgcolor-1-f: lighten($bgcolor-1-a, 25%);

$bgcolor-2-a: #c2185b;
$bgcolor-2-b: darken($bgcolor-2-a, 5%);
$bgcolor-2-c: darken($bgcolor-2-a, 10%);
$bgcolor-2-d: darken($bgcolor-2-a, 15%);
$bgcolor-2-e: darken($bgcolor-2-a, 20%);
$bgcolor-2-f: darken($bgcolor-2-a, 25%);

$fa-md-size: 20px;

$textcolor-1-a: #071730;
$textcolor-1-b: darken($textcolor-1-a, 20%);

$bs-xs-width: 576;
$bs-sm-width: 768;
$bs-md-width: 992;
$bs-lg-width: 1200;

$default-margin: 15px;
/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/




