/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

mat-toolbar .spacer {
  flex: 1 1 auto; }

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2; }

.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1; }

mat-sidenav {
  min-width: 250px;
  visibility: visible;
  background-image: linear-gradient(to right, #2f73da, #5a90e2); }
  mat-sidenav mat-nav-list {
    padding-top: 0px; }
  mat-sidenav hr {
    margin-top: 0;
    margin-bottom: 0; }
  mat-sidenav a {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    /*        height: 60px;*/ }
    mat-sidenav a.active, mat-sidenav a:hover {
      background-image: linear-gradient(to right, #2467cc, #205cb6); }
  mat-sidenav fa-icon {
    margin-right: 10px;
    width: 30px;
    /*        min-width: 25px;
            font-size: $fa-md-size;
            padding-left: 2px;
            padding-right: 2px;
            box-shadow: 0px 0px 1px rgba(0,0,0,.9);
            background-color: $bgcolor-1-a;
            width: 30px;
            text-align: center;*/ }

.app-is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto; }

.messages-count {
  margin-left: 10px; }
  .messages-count .mat-badge-content {
    background-color: red; }

/*# sourceMappingURL=app.component.css.map */
