<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button *ngIf="userService.isLogged()" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1> <fa-icon class="seen-icon" [icon]="['fas', 'eye']"></fa-icon> GET FIT APP</h1>
        <span class="spacer"></span>
        <app-notifications style="float: right" *ngIf="userService.isLogged()"></app-notifications>
    </mat-toolbar>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="mobileQuery.matches || !userService.isLogged() ? false : true">
            <mat-nav-list *ngIf="userService.isLogged()">
                <a routerLink="/dashboard" routerLinkActive="active" (click)="mobileQuery.matches ? snav.toggle() : ''" mat-list-item><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon> Dashboard</a>
                <a routerLink="/messages" routerLinkActive="active" (click)="mobileQuery.matches ? snav.toggle() : ''; unreadedMessages = 0" mat-list-item><fa-icon [icon]="['fas', 'comments']"></fa-icon>
                    Messages
                    <span *ngIf="unreadedMessages > 0" class="messages-count" matBadge="{{unreadedMessages}}" matBadgeOverlap="false"></span>
                </a>                
                <a *ngIf="userService.isTypeTrainer()" routerLink="/trainer/clients" routerLinkActive="active" (click)="mobileQuery.matches ? snav.toggle() : ''" mat-list-item><fa-icon [icon]="['fas', 'users']"></fa-icon> Clients</a>
                <a *ngIf="userService.isTypeTrainer()" routerLink="/trainer/training-plans" routerLinkActive="active" (click)="mobileQuery.matches ? snav.toggle() : ''" mat-list-item><fa-icon [icon]="['fas', 'dumbbell']"></fa-icon> Training Plans Templates</a>
                <a *ngIf="userService.isTypeTrainer()" routerLink="/trainer/nutrition-plans" routerLinkActive="active" (click)="mobileQuery.matches ? snav.toggle() : ''" mat-list-item><fa-icon [icon]="['fas', 'utensils']"></fa-icon> Nutrition Plans Templates</a>
                <a routerLink="/user/profile" routerLinkActive="active" (click)="mobileQuery.matches ? snav.toggle() : ''" mat-list-item><fa-icon [icon]="['fas', 'user-alt']"></fa-icon> Profile</a>
                <hr/>
                <a (click)="logout()" mat-list-item><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Logout</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


