/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
fa-icon {
  font-size: 20px; }

table {
  width: 100%; }
  table .message {
    cursor: pointer; }
  table .cdk-column-actions fa-icon:not(:first-child) {
    margin-left: 15px; }
  table .cdk-column-actions .copy-spinner {
    display: inline-block; }
  table .cdk-column-actions .delete-spinner {
    margin-left: 15px;
    display: inline-block; }
  table .cdk-column-actions {
    width: 133px; }
    table .cdk-column-actions fa-icon {
      cursor: pointer; }

.mat-form-field {
  font-size: 14px;
  width: 100%; }

@media only screen and (min-width: 576px) {
  #top .row > div {
    padding-left: 0px; }
  #top .row > :last-child {
    padding-right: 0px; } }
@media only screen and (max-width: 576px) {
  #top .row button {
    margin-bottom: 15px; } }
#top .row#templates {
  display: none; }
#top .row #templateSelectButton button {
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px; }
#top button {
  width: 100%;
  padding: 8px; }

/*# sourceMappingURL=plans-list.component.css.map */
