<div id="wrapper">
    <div class="container-fluid" id="top">
        <div class="row">
            <div class="{{client ? 'col-sm-6 col-xl-8' : 'col-8 col-xl-10'}}">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="{{client ? 'col-sm-3 col-xl-2' : 'col-4 col-xl-2'}}">
                <button [routerLink]="!client ? '../create' : 'create'" mat-raised-button color="primary">Create</button>
            </div>
            <div *ngIf="client" class="col-sm-3 col-xl-2">
                <button (click)="templates_selection.style.display == 'block' ? templates_selection.style.display = 'none' : templates_selection.style.display = 'block'" mat-raised-button color="accent">Add from templates</button>
            </div>
        </div>
        <div class="row" #templates_selection id="templates">
            <div class="col-12" >
                <mat-form-field class="full-width" *ngIf="templates.length > 0">
                    <fa-icon [icon]="['fas', 'search']" matPrefix></fa-icon>
                    <mat-label>Select from templates</mat-label>
                    <mat-select label="Select from templates" [(value)]="selectedTemplateToAdd">
                        <mat-option *ngFor="let plan of templates" [value]="plan" (onSelectionChange)="setTemplateToAdd($event, plan)">
                          {{plan.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div #templateSelectButton *ngIf="selectedTemplateToAdd" id="templateSelectButton">
                    <button mat-raised-button color="primary" (click)="addFromTemplate()"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef> Created </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at * 1000 | date:'medium'}} </td>
        </ng-container>
           
        <ng-container matColumnDef="last_modified">
            <th mat-header-cell *matHeaderCellDef> Last modified </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.created_at != element.updated_at">{{element.updated_at * 1000 | date:'medium'}}</span>
                <span *ngIf="element.created_at == element.updated_at">-</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <fa-icon *ngIf="copied != element.id" [icon]="['fas', 'copy']" (click)="copy(element)" matTooltip="Copy"></fa-icon>
                <mat-progress-spinner class="copy-spinner" *ngIf="copied == element.id"
                    color="primary"
                    diameter="25"
                    mode="indeterminate"
                    value="50">
                </mat-progress-spinner>
                
                <fa-icon [icon]="['fas', 'edit']" [routerLink]="getUpdateLink(element.id)" matTooltip="Edit"></fa-icon>
                
                <fa-icon *ngIf="deleting != element.id" [icon]="['fas', 'trash']" (click)="remove(element)" matTooltip="Remove"></fa-icon>
                <mat-progress-spinner class="delete-spinner" *ngIf="deleting == element.id"
                    color="primary"
                    diameter="25"
                    mode="indeterminate"
                    value="50">
                </mat-progress-spinner>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-card *ngIf="!plans">
        <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
    </mat-card>
    
    <mat-card *ngIf="plans && plans.length == 0">
        There's no plans.
    </mat-card>
    
</div>