@import '../../../variables';

#wrapper{

}

fa-icon{
    font-size: $fa-md-size;
}

table {
    width: 100%;
  
    .message{
        cursor: pointer;
    }
    
    .cdk-column-actions{
        fa-icon{
            &:not(:first-child){
                margin-left: $default-margin;
            }
        }
        
        .copy-spinner{
            display: inline-block;
        }
        
        .delete-spinner{
            margin-left: $default-margin;
            display: inline-block;
        }
    }
    
    .cdk-column-actions{
        width: 133px;
        
        fa-icon{
            cursor: pointer;
        }
    }
    
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

#top{
    .row{
        @media only screen and (min-width: $bs-xs-width + px){
            &>div{
                padding-left: 0px;
            }
            &>:last-child{
                padding-right: 0px;  
            }
        }
        
        @media only screen and (max-width: $bs-xs-width + px){
            button{
                margin-bottom: $default-margin;
            }
        }
                   
        
        &#templates{
            display: none;
        }
        
        #templateSelectButton{            
            button{
                width: 50px;
                position: absolute;
                right: 0;
                top: 0;
                padding: 1px;
            }
        }
    }
    
    button{
        width: 100%;
        padding: 8px;
    }
}