<form [formGroup]="messageForm">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Message</mat-label>                
        <textarea matInput formControlName="message" placeholder="Message" rows="20"></textarea>
        <mat-error align="end">
            <span *ngIf="messageForm.hasError('required', ['message'])">
                Message is required
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="recipients" class="full-width">
        <mat-select placeholder="Recipients" formControlName="recipients" multiple>
          <mat-option *ngFor="let recipient of recipients" [value]="recipient.id">{{recipient.first_name}} {{recipient.last_name}}</mat-option>
        </mat-select>
        <mat-error align="end">
            <span *ngIf="messageForm.hasError('required', ['recipients'])">
                Please select recipients
            </span>
        </mat-error>
    </mat-form-field>
    <button *ngIf="recipients" mat-raised-button color="primary" class="full-width" (click)="send()" routerLink="./">Send</button>
</form>