<div id="wrapper">
    <div *ngIf="clients && clients.length">
        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
            </ng-container>

            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"><a href="mailto:{{element.email}}">{{element.email}}</a></td>
            </ng-container>

            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let element"><fa-icon [icon]="['fas', 'comment']" class="message" routerLink="/messages"></fa-icon></td>
            </ng-container>
               
            <ng-container matColumnDef="manage">
                <th mat-header-cell *matHeaderCellDef> Manage </th>
                <td mat-cell *matCellDef="let element"><fa-icon [icon]="['fas', 'external-link-square']" class="message" routerLink="/trainer/client/{{element.id}}"></fa-icon></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-card *ngIf="!clients">
        <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
    </mat-card>
    <mat-card *ngIf="clients && clients.length == 0">
        There's no clients.
    </mat-card>
</div>