@import '../../../../variables';

#wrapper{
    padding: $default-margin;
}

fa-icon{
    font-size: $fa-md-size;
}

table {
    width: 100%;
  
    .message{
        cursor: pointer;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}