/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
#wrapper {
  padding: 15px; }

fa-icon {
  font-size: 20px; }

table {
  width: 100%; }
  table .message {
    cursor: pointer; }

.mat-form-field {
  font-size: 14px;
  width: 100%; }

/*# sourceMappingURL=clients-list.component.css.map */
