<div class="details">
    <mat-progress-bar *ngIf="!conversation" mode="query" color="accent"></mat-progress-bar>
    <div *ngIf="conversationDetails">
        <h3>{{conversationDetails.title}}</h3>
    </div>
</div>
<ul #messagesList *ngIf="conversation">
    <li *ngFor="let message of conversation.reverse()" [className]="isOwnMessage(message) ? 'own' : ''" matTooltip="{{(message.time*1000) | date : 'd MMM HH:mm'}}">
        {{message.content}}
        <fa-icon *ngIf="isOwnMessage(message) && message.seen_time" class="seen-icon" [icon]="['fas', 'eye']"  matTooltip="{{(message.seen_time*1000) | date : 'd MMM HH:mm'}}"></fa-icon>
    </li>
</ul>
<app-reply *ngIf="toId" (newMessage)="onReply($event)" [toId]="toId" [conversationId]="id"></app-reply>