@import '../../../variables';

.details {
   
}

ul {
    padding-left: 0px;
    list-style-type: none;
    min-height: calc(100vh - 64px - 160px);
    max-height: calc(100vh - 64px - 160px);
    overflow-y: scroll;
    margin-top: 15px;
    margin-right: -15px;
    
    li {
        padding: 20px;
        cursor: pointer;
        width: 80%;
        background-color: rgb(244, 244, 244);
        border-radius: 10px 10px 10px 0px;
        margin-top: $default-margin;
        position: relative;
        
        &.own {
            margin-left: calc(20% - 15px);
            background: lighten(#2464bc, 20%);
            color: white;
            border-radius: 10px 10px 0px 10px;
        }
        
        .seen-icon {
            opacity: .5;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

app-reply {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    background-color: white;
}