/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
ul {
  padding-left: 0px;
  list-style-type: none;
  min-height: calc(100vh - 64px - 160px);
  max-height: calc(100vh - 64px - 160px);
  overflow-y: scroll;
  margin-top: 15px;
  margin-right: -15px; }
  ul li {
    padding: 20px;
    cursor: pointer;
    width: 80%;
    background-color: #f4f4f4;
    border-radius: 10px 10px 10px 0px;
    margin-top: 15px;
    position: relative; }
    ul li.own {
      margin-left: calc(20% - 15px);
      background: #6599e1;
      color: white;
      border-radius: 10px 10px 0px 10px; }
    ul li .seen-icon {
      opacity: .5;
      position: absolute;
      top: 10px;
      right: 10px; }

app-reply {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  background-color: white; }

/*# sourceMappingURL=conversation.component.css.map */
