<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Invitation can't be accepted. Maybe invitation doesn't exists or has already been accepted?</h1>
            <button mat-raised-button color="primary" routerLink="/">Go Home</button>
        </div>
    </div>
</div>
