/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
@media screen and (min-width: 768px) {
  .container {
    margin-top: 100px; } }

/*# sourceMappingURL=user-invitation-fail.component.css.map */
