@import "app/variables";
@import "~ngx-toastr/toastr.css";
@import './theme';
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
@import "~font-awesome/css/font-awesome.css";

body {
    color: $textcolor-1-a;
}

button{
    &:focus{
        outline: none;
    }
    
    &.full-width{
        width: 100%;
    }  
}

a{
    &:link,&:visited{
        color: $textcolor-1-a !important;
    }
    
    &:hover{
        text-decoration: none;
        color: $textcolor-1-b;
    }
}

.toast-bottom-full-width {
    .toast {
        margin: 3px 0px 0px 0px !important;
        width: 100% !important;
        border-radius: 4px 4px 0px 0px !important;
        box-shadow: none !important;
    }
}

/** Material overwrite **/
mat-form-field{
    &.full-width{
        width: 100%;
    }    
            
    .mat-form-field-prefix{
        fa-icon{
            font-size: 15pt;
            margin-right: $default-margin;
        }
    }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0 0 0 0 !important;
}

.mat-pseudo-checkbox {
    &::after {
        width: 12px !important;
        height: 4px !important;
    }
}

.mat-raised-button{        
    border-radius: 10px !important;
    
    &.mat-warn{
        color: white !important;
    }
}

.mat-badge-accent{
    .mat-badge-content{
        background-color: $bgcolor-1-a;
        color: $textcolor-1-a;
    }
}

.badge{
    border-radius: 0px;
}

.mat-table, mat-expansion-panel-header{
    fa-icon{
        color: darken($bgcolor-1-a, 10%);
        font-size: 1rem !important;
        
        &:hover{
            color: $bgcolor-1-b;
        }
    }
}


/* DRAGULA */
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}