@import '../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$fapp-palette-dark: (
    50 : #e3e3e3,
    100 : #b9b8b9,
    200 : #8a898b,
    300 : #5b5a5c,
    400 : #373639,
    500 : #141316,
    600 : #121113,
    700 : #0e0e10,
    800 : #0b0b0c,
    900 : #060606,
    A100 : #ff4e4e,
    A200 : #ff1b1b,
    A400 : #e70000,
    A700 : #ce0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fapp-palette-blue: (
   50 : #e5ecf7,
    100 : #bdd1eb,
    200 : #92b2de,
    300 : #6693d0,
    400 : #457bc6,
    500 : #2464bc,
    600 : #205cb6,
    700 : #1b52ad,
    800 : #1648a5,
    900 : #0d3697,
    A100 : #c6d5ff,
    A200 : #93afff,
    A400 : #6089ff,
    A700 : #4776ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$fapp-palette-orange: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb84d,
    400 : #ffa826,
    500 : #ff9900,
    600 : #ff9100,
    700 : #ff8600,
    800 : #ff7c00,
    900 : #ff6b00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fapp-palette-red: (
    50 : #f9e0e4,
    100 : #f0b3bd,
    200 : #e68091,
    300 : #db4d64,
    400 : #d42643,
    500 : #cc0022,
    600 : #c7001e,
    700 : #c00019,
    800 : #b90014,
    900 : #ad000c,
    A100 : #ffd7d8,
    A200 : #ffa4a6,
    A400 : #ff7175,
    A700 : #ff585c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fapp-palette-green: (
     50 : #e3f4f1,
    100 : #b9e5dc,
    200 : #8ad3c4,
    300 : #5bc1ac,
    400 : #38b49b,
    500 : #15a789,
    600 : #129f81,
    700 : #0f9676,
    800 : #0c8c6c,
    900 : #067c59,
    A100 : #aaffe3,
    A200 : #77ffd2,
    A400 : #44ffc1,
    A700 : #2bffb8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fapp-palette-pink: (
    50 : #f8e3eb,
    100 : #edbace,
    200 : #e18cad,
    300 : #d45d8c,
    400 : #cb3b74,
    500 : #c2185b,
    600 : #bc1553,
    700 : #b41149,
    800 : #ac0e40,
    900 : #9f082f,
    A100 : #ffcbd6,
    A200 : #ff98ad,
    A400 : #ff6585,
    A700 : #ff4c71,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fapp-app-primary: mat-palette($fapp-palette-blue, 500, 200, 800);
$fapp-app-accent:  mat-palette($fapp-palette-green, 500, 200, 800);
$fapp-app-warn:    mat-palette($fapp-palette-orange, 500, 200, 800);

// Create the theme object (a Sass map containing all of the palettes).
$fapp-app-theme: mat-light-theme($fapp-app-primary, $fapp-app-accent, $fapp-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fapp-app-theme);

