/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
fa-icon {
  font-size: 20px; }

table {
  width: 100%; }
  table .message {
    cursor: pointer; }
  table .cdk-column-actions fa-icon:not(:first-child) {
    margin-left: 15px; }
  table .cdk-column-actions {
    width: 100px; }

.mat-form-field {
  font-size: 14px;
  width: 100%; }

#top .row > :first-child {
  padding-left: 0px;
  padding-right: 0; }
#top .row > :last-child {
  padding-right: 0px;
  padding-left: 15px; }
#top button {
  width: 100%;
  padding: 8px; }

/*# sourceMappingURL=excersizes-list.component.css.map */
