<div id="wrapper">
            
    <div class="container-fluid" id="top">
        <div class="row">
            <div class="col-8 col-xl-10">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="col-4 col-xl-2">
                <button routerLink="create" mat-raised-button color="primary">Create</button>
            </div>
        </div>
    </div>
    
    <div *ngIf="excersizes && excersizes.length">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
               
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <fa-icon *ngIf="removingId !== element.id" [icon]="['fas', 'edit']" routerLink="update/{{element.id}}"></fa-icon>
                    <fa-icon *ngIf="removingId !== element.id" [icon]="['fas', 'trash']" (click)="remove(element)"></fa-icon>
                    <mat-progress-spinner *ngIf="removingId == element.id"
                        color="primary"
                        diameter="25"
                        mode="indeterminate"
                        value="50">
                    </mat-progress-spinner>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-card *ngIf="!excersizes">
        <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
    </mat-card>
    <mat-card *ngIf="excersizes && excersizes.length == 0">
        There's no excersizes.
    </mat-card>
</div>