@import '../../../../variables';

#wrapper{
    
}

fa-icon{
    font-size: $fa-md-size;
}

table {
    width: 100%;
  
    .message{
        cursor: pointer;
    }
    
    .cdk-column-actions{
        fa-icon{
            &:not(:first-child){
                margin-left: $default-margin;
            }
        }
    }
    
    .cdk-column-actions{
        width: 100px;
    }
    
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

#top{
    .row{
        &>:first-child{
            padding-left: 0px;
            padding-right: 0;
        }
        &>:last-child{
            padding-right: 0px;
            padding-left: $default-margin;
        }
    }
    
    button{
        width: 100%;
        padding: 8px;
    }
}