<div class="container">
    <div class="row access-denied">
        <div class="col-12 text-center">
            <h1>403 - Access Denied</h1><br/>
            <button routerLink="/" mat-raised-button color="primary">Back to homepage</button>
        </div>
    </div>
</div>