@import '../../../../variables';

#wrapper{
    padding: $default-margin;
}

fa-icon{
    font-size: $fa-md-size;
    cursor: pointer;
}

table {
    width: 100%;
    
    .send-again, .cancel{
        cursor: pointer;
    }
}

.mat-form-field {
    font-size: 14px;
}

.send-invitation{
    
    h4{
        margin-left: -15px;
    }
    
    button{
        top: -8px;
        padding: 7px;
        margin-left: $default-margin;
    }
}