<div id="wrapper">
    <div *ngIf="invitations && invitations.length">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="send_time">
                <th mat-header-cell *matHeaderCellDef> Send Date </th>
                <td mat-cell *matCellDef="let element">{{element.created_at * 1000 | date:'medium'}}</td>
            </ng-container>
               
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"><span class="badge {{statusBadge(element.status)}}">{{statusBadgeText(element.status)}}</span></td>
            </ng-container>
               
            <ng-container matColumnDef="send_again">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status == '0' || element.status == '-1'">
                        <fa-icon matTooltip="Send again" *ngIf="sendingAgainId != element.id" [icon]="['fas', 'sync']" (click)="sendAgain(element.id)"></fa-icon>
                        <mat-progress-spinner *ngIf="sendingAgainId == element.id"
                            color="primary"
                            diameter="25"
                            mode="indeterminate"
                            value="50">
                        </mat-progress-spinner>
                    </div>
                </td>
            </ng-container>   
               
            <ng-container matColumnDef="cancel">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status == '0'">
                        <fa-icon matTooltip="Cancel" *ngIf="cancelingId != element.id" [icon]="['fas', 'trash']" (click)="cancel(element)"></fa-icon>
                        <mat-progress-spinner *ngIf="cancelingId == element.id"
                            color="primary"
                            diameter="25"
                            mode="indeterminate"
                            value="50">
                        </mat-progress-spinner>
                    </div>
                </td>
            </ng-container>            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-card *ngIf="!invitations">
        <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
    </mat-card>
    <mat-card *ngIf="invitations && invitations.length == 0">
        There's no invitations.
    </mat-card>

    <mat-card class="send-invitation">
        <mat-card-content>
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Send Invitation</mat-label>
                    <input matInput placeholder="Email Adress" [formControl]="invitationEmail">
                    <mat-error *ngIf="invitationEmail.hasError('email') || invitationEmail.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <button [disabled]="sendingInvitation" (click)="invitationEmail.valid ? create() : null" mat-raised-button color="primary">
                    {{!sendingInvitation ? 'Send' : 'Sending...'}}
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>