/*$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #ffc107;
$color-danger: #dc3545;*/
#wrapper {
  padding: 15px; }

fa-icon {
  font-size: 20px;
  cursor: pointer; }

table {
  width: 100%; }
  table .send-again, table .cancel {
    cursor: pointer; }

.mat-form-field {
  font-size: 14px; }

.send-invitation h4 {
  margin-left: -15px; }
.send-invitation button {
  top: -8px;
  padding: 7px;
  margin-left: 15px; }

/*# sourceMappingURL=clients-invitations.component.css.map */
